extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    if user 
      div
        a(href="/logout") Logout from #{user.username}
      div
        a(href="/schedules/new") Create Schedule
      - var hasSchedule = schedules.length > 0
      if hasSchedule
        h3 Your Schedules 
        table.table 
          tr 
            th Schedule Name 
            th Updated at 
          each schedule in schedules 
            tr 
              td 
                a(href=`/schedules/${schedule.scheduleId}`) #{schedule.scheduleName}
              td #{schedule.updatedAt}
    else 
      div
        a(href="/login") Login
